@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------- */

/* Variablen Farben etc */
:root.dark {
  --hauptfarbe: #000000;
  --akzentfarbe: #21A3C0;
  --background-nav-footer: hsla(0, 0%, 10%);
  --nav-svg-fill: grey;
  --boxshadow: rgb(187, 187, 187);
  
  --color-font: white;
  
  --height-nav-footer: 75px;
}
:root {
  --hauptfarbe: #fafafa;
  --akzentfarbe: #115969;
  --background-nav-footer: rgb(159, 159, 159);
  --nav-svg-fill: var(--akzentfarbe);
  --boxshadow: rgb(69, 69, 69);
  --card-text-color: white;

  --color-font: rgb(0, 0, 0);

  --height-nav-footer: 75px;

  --font-inter: var(--font-inter);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-montserrat: var(--font-montserrat);
  --font-josefin-sans: var(--font-josefin-sans);
  --font-monoton: var(--font-monoton);
  --font-amatic-sc: var(--font-amatic-sc);
  --font-anonymous-pro: var(--font-anonymous-pro);
}

.font-monoton {
  font-family: var(--font-monoton);
}
.font-josefinesans {
  font-family: var(--font-josefin-sans);
}
.font-amaticsc {
  font-family: var(--font-amatic-sc);
}
.font-anonymuspro {
  font-family: var(--font-anonymous-pro);
}

/* ------- BASE ------- */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* um "Font-Size-Bug zu vermeiden */
  scroll-behavior: smooth;
}

/* falls ein alter Browser die neuen HTML5 Elemente nicht kennt */
article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block;
  padding: 0;
}

body { 
  background-color: var(--hauptfarbe);
  color: var(--color-font);

  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 70vw;

  /* border: 1px solid red; */
  min-height: calc(97vh - (var(--height-nav-footer)));
  
  padding-bottom: 5vh;
}


/* Farben für Textmarkierungen */
::selection {
  background-color: rgb(201, 199, 199);
  color: var(--akzentfarbe);
}

/* ------- FONT SIZES ------- */
h1 {
  font-size: 2.5rem;
  margin: 5rem 0 5rem 0;
  font-family: var(--font-anonymous-pro);
}

h2, .home-heading {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-anonymous-pro);
}

h3 {
  font-size: 1.5rem;
  font-family: var(--font-anonymous-pro);
}

h4 {
  font-size: 1rem;
  font-weight: lighter;
  font-family: var(--font-roboto-mono);
}

p {
  font-size: 1rem;
  max-width: 500px;
  font-family: var(--font-roboto-mono);
}

hr {
  margin: 2rem 0;
  border: 3px solid var(--akzentfarbe);
}

/* Schriftgrößen für den Desktop */
@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
    margin: 5rem 0 10rem 0;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.5rem;
    max-width: 900px;
  }

  hr {
    margin: 2rem 0;
    border: 0.2rem solid var(--akzentfarbe);
  }

}

/* ------- NAVIGATION ------- */
nav svg {
  height: 1.5rem;
  padding-right: 0.5rem;
 } 
 
 .nav-icon {
  display: flex;
 }
 nav {
   background-color: var(--background-nav-footer);
   color: var(--color-font);
   
   }  
 .nav-mode {
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   align-items: center;
 }

/* ------- SKILLS ------- */
section h3 {
  font-weight: bold;
}

svg {
  height: 2rem;
  fill: var(--akzentfarbe);
}

@media (min-width: 1024px) {
  svg {
    height: 3rem;
  }
}

.skills {
  display: flex;
  align-items: center;
  border: 0.5px solid var(--akzentfarbe);
  border-radius: 1rem;

  margin: 0.5rem;
   gap: 1rem; /* zwischen svg und Bezeichnung*/
}

aside {
  /* skills */
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  aside {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 65vw;
  }
}

aside div {
  padding: 0.5rem 2rem;
}


/* ------- HEADING BIG ------- */
.heading-big {
  position: relative; 
  top: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  
  font-size: 7vw;
  color: var(--akzentfarbe);
  opacity: 0.9;
  z-index: -1;
  font-weight: bold;
  font-style: italic;
}

@media (min-width: 1024px) {
  .heading-big {
    position: relative; 
    top: 15rem;
    left: 0;
    right: 0;
    margin: auto;
    
    font-size: 6vw;
    color: var(--akzentfarbe);
    opacity: 0.75;
    z-index: -1;
    font-weight: bold;
    font-style: italic;
  }
}

/* ------- HEADING CARDS ------- */
.card-heading {
  font-size: 3.5vw;
  font-weight: normal;
  display: flex;
  align-items: center;
  /* margin: 30px 0 0 0; */
  color: white;
}
@media (min-width: 1024px) {
  .card-heading {
    font-size: 1.25vw;
  }
}

/* ------- FOOTER ------- */

footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%; 

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--background-nav-footer);
  color: var(--color-font);

  height: calc(var(--height-nav-footer) + 30px);
}

footer div {
  display: flex;
  gap: 3rem;
}
footer p {
  font-size: 1rem;
}

footer span {
  color: var(--akzentfarbe);
}

.link-github {
  text-decoration: underline;
}

/* -------------- */

.contact {
display: flex;
flex-direction: column;
}

@media (min-width: 1024px) {
  .contact {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 2rem;
    }
}

.contact ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.to-dark-mode {
  height: 40px;
  width: 40px;
  fill: white;
}

.to-light-mode {
  height: 40px;
  width: 40px;
  fill: var(--color-font);
}

.accentcolor {
  color: var(--akzentfarbe);
}

.nobreak {
    white-space: nowrap;
}