@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------- */

/* Variablen Farben etc */
:root.dark {
  --hauptfarbe: #000000;
  --akzentfarbe: #0b5174;
  --background-nav-footer: hsla(0, 0%, 10%, 0.75);
  --nav-svg-fill: grey;
  --boxshadow: rgb(187, 187, 187);
  
  --color-font: white;
  
  --height-nav-footer: 75px;
}
:root {
  --hauptfarbe: #f4f4f4;
  --akzentfarbe: #0b5174;
  --background-nav-footer: hsla(0, 0%, 10%, 0.5);
  --nav-svg-fill: var(--akzentfarbe);
  --boxshadow: rgb(69, 69, 69);
  --card-text-color: white;

  --color-font: rgb(0, 0, 0);

  --height-nav-footer: 75px;
}

/* ------- BASE ------- */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* um "Font-Size-Bug zu vermeiden */
  scroll-behavior: smooth;
}

/* falls ein alter Browser die neuen HTML5 Elemente nicht kennt */
article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block;
  padding: 0;
}

body { 
  background-color: var(--hauptfarbe);
  color: var(--color-font);

  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 80vw;
  min-height: calc(100vh - (var(--height-nav-footer)));
  
  padding-bottom: 5vh;
}


/* Farben für Textmarkierungen */
::selection {
  background-color: rgba(201, 199, 199, 0.75);
  color: var(--akzentfarbe);
}
/* ------- I FRAME ------- */
iframe {
  min-height: 70vh;
  max-height: 80vh;
  min-width: 80vw;
  max-width: 90vw;
  padding-bottom: 5rem;
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  iframe {
    min-height: 80vh;
    max-height: 90vh;
    min-width: 65vw;
    max-width: 90vw;
    padding-bottom: 5rem;
    margin-top: 2rem;
  }
}

/* ------- FONT SIZES ------- */

h1 {
  font-size: 30px;
  margin: 5rem 0 5rem 0;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
  font-weight: lighter;
}

p {
  font-size: 16px;
  max-width: 500px;
}
hr {
  margin: 2rem 0;
  color: var(--akzentfarbe);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
    margin: 5rem 0 10rem 0;
  }
  
  h2 {
    font-size: 35px;
  }
  
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  
  p {
    font-size: 22px;
    max-width: 900px;
  }
  hr {
    margin: 2rem 0;
    border: 3px solid var(--akzentfarbe);
    /* background-color:#aa0000;height:15px; */
  }

}
/* ------- SKILLS ------- */
section h3 {
  font-weight: bold;
}
  svg {
    height: 35px;
    fill: var(--akzentfarbe);
  }

@media (min-width: 1024px) {
  svg {
    height: 50px;
  }
}
.skills {
  display: flex;
  align-items: center;
  border: 0.5px solid var(--akzentfarbe);
  border-radius: 20px;

  margin: 10px;
   gap: 15px; /* zwischen svg und Bezeichnung*/
}

aside {
  /* skills */
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  aside {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 65vw;
  }
}

aside div {
  padding: 0.5rem 2rem;
}


/* -------------- */

.heading-big {
  position: relative; 
  top: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  
  font-size: 7vw;
  color: var(--akzentfarbe);
  opacity: 0.9;
  z-index: -1;
  font-weight: bold;
  font-style: italic;
}

@media (min-width: 1024px) {
  .heading-big {
    position: relative; 
    top: 15rem;
    left: 0;
    right: 0;
    margin: auto;
    
    font-size: 6vw;
    color: var(--akzentfarbe);
    opacity: 0.75;
    z-index: -1;
    font-weight: bold;
    font-style: italic;
  }
}

/* ------- NAVIGATION ------- */
nav svg {
 height: 1.5rem;
 padding-right: 0.5rem;
} 

.nav-icon {
 display: flex;
}
nav {
  background-color: var(--background-nav-footer);
  color: var(--color-font);
  
  }  
.nav-mode {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
/* ------- PROJECTS ------- */
.container-cards {
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  position: relative;

}

.card-txt {
  position: absolute;
  color: red;
  /* rotate: -45deg; */
  margin-top: 7rem;
  font-size: 1.8rem;
  width: 250px ;
  background-color: hsla(0, 0%, 100%, 0.5);
}

@media (min-width: 1024px) {
  .container-cards {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-txt {
    position: absolute;
    font-size: 1.7vw;
    background-color: hsla(0, 0%, 100%, 0.5);
  }
}

.card {
  background-color: var(--akzentfarbe);
  margin: 1rem;
  
  width: 90%;
  height: 500px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0 solid ;
  border-radius: 20px;
  box-shadow: 2px 5px 0 var(--boxshadow);

}

@media (min-width: 1024px) {
  .card {
    margin: 1rem;
    padding: 0 1rem;

    /* width <= 33%, damit nur 3 Cards je Reihe dargestellt werden */
    width: 28%;

    height: 35vh;
    /* Text in Card zentrieren */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card-heading {
  font-size: 3.5vw;
  font-weight: bold;
  height: 3rem;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .card-heading {
    font-size: 1.5vw;
    padding-top: 1rem;
    height: 6rem;
  }
}

span {
  padding-bottom: 1rem;
}
/* ------- IMAGE CONTAINER QUALIFICATIONS ------- */

.image-container {
  position: relative;
  transition: transform 0.3s ease;
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.udemy-img {
  max-width: 80%;
}

@media (min-width: 1024px) {
  .image-container {
    position: relative;
    /* overflow: hidden; */
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.image-container:hover {
  transform: scale(1.05);
}

.image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  height: 20px;
  width: 20px;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .image {
    height: 20vh;
    width: 20vh;
    padding-bottom: 1rem;
  }
}

.image-container:hover .image {
  filter: grayscale(0);
}

/* ------- FOOTER ------- */

footer {
  /* position: fixed;
  bottom: 0;*/
  width: 100%; 

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--background-nav-footer);
  color: var(--color-font);

  height: calc(var(--height-nav-footer) + 30px);
}

footer div {
  display: flex;
  gap: 3rem;
}

.link-github {
  text-decoration: underline;
}

/* -------------- */

.contact {
display: flex;
flex-direction: column;
}

@media (min-width: 1024px) {
  .contact {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 2rem;
    }
  }

.contact ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.to-dark-mode {
  height: 40px;
  width: 40px;
  fill: white;
}

.to-light-mode {
  height: 40px;
  width: 40px;
  fill: var(--color-font);
}

.accentcolor {
  color: var(--akzentfarbe);
}

.nobreak {
    white-space: nowrap;
}